#____________________________________
#  1. cache, build, db sqlite3 files
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
__pycache__/

#____________________________________
#  2. PyInstaller Distribution
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^


#____________________________________
#  3. Temporary exec files for TEST
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
